[SOFTEX] Residência em TIC - MCTI Futuro - IFMA 

# 3.2 - Exercícios de Fixação sobre Pandas


Elaborado por Prof. Josenildo Silva (jcsilva@ifma.edu.br)

# Questões

1. importe as biblitecas numpy e pandas
1. Crie um ndarray de duas dimensões com números aleatórios. A partir dele, crie um DataFrame. Defina nome para as colunas do DataFrame.
1. Faça consultas no seu DataFrame utilizando indexação lógica 
1. Faça consulta de apenas algumas colunas do deu DataFrame utilizando o atributo .iloc ou o .loc
1. Leia um arquivo de dados diretamente para um DataFrame. 
1. Leia uma página web a partir de uma URL, onde haja uma tabela HTML. Modifique o nomes de colunas e faça uma consulta no DataFrame
1. Adicione uma nova coluna ao DataFrame anterior com dados de sua escolha. Podem ser dados aleatórios. 
1. Crie uma nova coluna ao seu DataFrame a partir da combinação de duas outras colunas existentes. Use expresssões aritiméticas ou funções tais como soma, subtração, multiplicão, ou use funções do numpy tais como np.log, np.sqrt, etc. 
1. Leia um dataset que possua atributos numéricos e calcule média, desvio, max, min de todos eles. Dica: use .describe().
1. Utilize a função groupby e crie resumos agrupados utilizando diferentes colunas do DataFrame

Para mais exercícios, visite a página https://www.machinelearningplus.com/python/101-pandas-exercises-python/

# Respostas

In [ ]:
# Use células diferentes para responder cada questão.

In [ ]:
# 1. importe as bibliotecas

In [1]:
import numpy as np
import pandas as pd

In [12]:
#2. Crie um ndarray de duas dimensões com números aleatórios. A partir dele, crie um DataFrame. Defina nome para as colunas do DataFrame.
array = np.random.randint(1,100, 16).reshape(2,8) #criacao do array
df = pd.DataFrame(array) #transformacao do array em DataFrame

nome_colunas = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8']
df.columns = nome_colunas
df

   c1  c2  c3  c4  c5  c6  c7  c8
0  54  29  46  88  45  38  89  82
1  89  93  85  61  29  67  86  75

In [34]:
#3. Faça consultas no seu DataFrame utilizando indexação lógica
pares = df[df % 2 == 0]
impares = df[df % 2 != 0]
media = df.mean().mean()
menor_que_media = df[df < media]
maior_que_media = df[df > media]

print(pares, "\n\n",  impares, "\n\n", menor_que_media, "\n\n", maior_que_media)

     c1  c2    c3    c4  c5    c6    c7    c8
0  54.0 NaN  46.0  88.0 NaN  38.0   NaN  82.0
1   NaN NaN   NaN   NaN NaN   NaN  86.0   NaN

      c1  c2    c3    c4  c5    c6    c7    c8
0   NaN  29   NaN   NaN  45   NaN  89.0   NaN
1  89.0  93  85.0  61.0  29  67.0   NaN  75.0

      c1    c2    c3    c4  c5    c6  c7  c8
0  54.0  29.0  46.0   NaN  45  38.0 NaN NaN
1   NaN   NaN   NaN  61.0  29   NaN NaN NaN

      c1    c2    c3    c4  c5    c6  c7  c8
0   NaN   NaN   NaN  88.0 NaN   NaN  89  82
1  89.0  93.0  85.0   NaN NaN  67.0  86  75

In [48]:
#4. Faça consulta de apenas algumas colunas do deu DataFrame utilizando o atributo .iloc ou o .loc
colunas_c2_c4 = df.iloc[:, 1:4]
colunas_c1_c7 = df.iloc[:, 0:8]
linha_1_coluna_c8 = df.loc[0, 'c8']
linha_2_ultimas_duas_colunas = df.loc[1, 'c7':'c8']

print(colunas_c2_c4, "\n\n", colunas_c1_c7, "\n\n", linha_1_coluna_c8, "\n\n", linha_2_ultimas_duas_colunas)

   c2  c3  c4
0  29  46  88
1  93  85  61

    c1  c2  c3  c4  c5  c6  c7  c8
0  54  29  46  88  45  38  89  82
1  89  93  85  61  29  67  86  75

 82

 c7    86
c8    75
Name: 1, dtype: int32

In [62]:
#5. Leia um arquivo de dados diretamente para um DataFrame.
df = pd.read_csv('casa_e_ap_venda_slz-2019 - casa_e_ap_venda_slz-2019.csv')
df

,id,tipo,acao,cidade,bairro,dorm,suite,vaga,preco,imobiliaria,data_scrapped
0,0,Casa,Venda,São Luís/MA,Parque Amazonas,4,1,0,350000,Pereira Feitosa,23/06/2019
1,1,Casa,Venda,São Luís/MA,Vinhais,4,2,2,450000,Pereira Feitosa,23/06/2019
2,2,Apartamento,Venda,São Luís/MA,Jardim Renascença,4,0,3,850000,Pereira Feitosa,23/06/2019
3,3,Apartamento,Venda,São Luís/MA,Turu,0,0,1,260000,Pereira Feitosa,23/06/2019
4,4,Apartamento,Venda,São Luís/MA,Calhau,2,1,0,300000,Pereira Feitosa,23/06/2019
...,...,...,...,...,...,...,...,...,...,...,...
395,395,Casa,Venda,São Luís/MA,Quintas do Calhau,0,0,3,1700000,Pereira Feitosa,23/06/2019
396,396,Casa,Venda,São Luís/MA,São Francisco,4,3,12,600000,Pereira Feitosa,23/06/2019
397,397,Apartamento,Venda,São Luís/MA,Ponta da areia,1,0,1,220000,Pereira Feitosa,23/06/2019
398,398,Casa,Venda,São Luís/MA,Olho D Água,0,0,0,800000,Pereira Feitosa,23/06/2019
399,399,Casa,Venda,São Luís/MA,Quintas do Calhau,0,0,8,1350000,Pereira Feitosa,23/06/2019

In [64]:
df[df['data_scrapped'] == '23/06/2019']

,id,tipo,acao,cidade,bairro,dorm,suite,vaga,preco,imobiliaria,data_scrapped
0,0,Casa,Venda,São Luís/MA,Parque Amazonas,4,1,0,350000,Pereira Feitosa,23/06/2019
1,1,Casa,Venda,São Luís/MA,Vinhais,4,2,2,450000,Pereira Feitosa,23/06/2019
2,2,Apartamento,Venda,São Luís/MA,Jardim Renascença,4,0,3,850000,Pereira Feitosa,23/06/2019
3,3,Apartamento,Venda,São Luís/MA,Turu,0,0,1,260000,Pereira Feitosa,23/06/2019
4,4,Apartamento,Venda,São Luís/MA,Calhau,2,1,0,300000,Pereira Feitosa,23/06/2019
...,...,...,...,...,...,...,...,...,...,...,...
395,395,Casa,Venda,São Luís/MA,Quintas do Calhau,0,0,3,1700000,Pereira Feitosa,23/06/2019
396,396,Casa,Venda,São Luís/MA,São Francisco,4,3,12,600000,Pereira Feitosa,23/06/2019
397,397,Apartamento,Venda,São Luís/MA,Ponta da areia,1,0,1,220000,Pereira Feitosa,23/06/2019
398,398,Casa,Venda,São Luís/MA,Olho D Água,0,0,0,800000,Pereira Feitosa,23/06/2019
399,399,Casa,Venda,São Luís/MA,Quintas do Calhau,0,0,8,1350000,Pereira Feitosa,23/06/2019